# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
test-images/output/tmp_dho4yro.jpeg
test-images/output/tmpl6etnp0f.jpeg
dogs-community-pack/README-community-pack.md
app/api/stylize/route-working.ts
test-images/hmaster.jpg
app/api/stylize/route.ts.bak.ts
test-images/Welpe-Pixel-sucht-ein-Zuhause-Hunderettung-Europa.webp
test-images/output/tmpftz3rd2m.jpeg
test-images/output/tmpvoowmi45.jpeg
test-images/output/tmpxj1vvs8f.jpeg
test-images/output/tmpyrowp6wg.jpeg
test-images/output/tmpvk9i3q6r.jpeg
test-images/output/pet-portrait-1757167268325.jpg
test-images/output/tmp8941xabe.jpeg
